@charset "utf-8"

html{font-size:100px;}
body{
	min-width:320px;	/*为什么这里不用rem，因为这是body的宽度，如果用rem那就一直都是1，没有办法缩小 */
	max-width:640px;
	background:rgba(0,0,0,.9);
	margin:auto;
}



/* 主图片 开始 */
.gz{}
.gz .main{position:relative; width:5rem; margin:0.2rem auto 0;}
.gz .main img{width:5rem;}
.gz .main .news{position:absolute; top:4.2rem; left:calc(50% - 1.8rem); width:3.6rem; background:rgba(255,255,225,0.5);}
.gz .main .news h2{width:3rem; margin:auto; font:0.3rem/0.5rem ""; border-bottom:1px solid red;}
.gz .main .news p{width:3rem; margin:auto; font:0.16rem/0.4rem "";}
/* 主图片 结束 */
/*下方的图片 开始*/
.gz .hot{width:5rem; margin:auto; background:#fff;}
.gz .hot ul{display:flex; jusitify-content:space-around;}
.gz .hot ul li{width:33%; text-align:center;}
.gz .hot ul li img{width:1.3rem;}
/*下方的图片 结束*/